extend layout

block content
  p
    | This is a public page called directly
    | vehicula. Sed auctor neque eu tellus
    | rhoncus ut eleifend nibh porttitor. Ut in.
    
  p
    | Donec congue lacinia dui, a porttitor
    | lectus condimentum laoreet. Nunc eu
    | ullamcorper orci. Quisque eget odio ac
    | lectus vestibulum faucibus eget in metus.
    | In pellentesque faucibus vestibulum. Nulla
    | at nulla justo, eget luctus tortor.
     
  h2 Request Info
  hr 
  table
    tr
      th method 
      td= method
    tr 
      th uri 
      td (#{uri})
    tr 
      th request.protocolVersion
      td= request.protocolVersion
    tr 
      th request.cookies
      td (#{request.cookies})
    tr 
      th request.connectionInfo.remoteHost 
      td= request.connectionInfo.remoteHost

  br
  h2 Response Info
  hr 
  table
    tr
      th response.statusCode
      td= response.statusCode
    tr
      th response.reasonPhrase
      td= response.reasonPhrase
    tr
      th response.contentLength
      td= response.contentLength
    tr
      th response.headers.contentType
      td= response.headers.contentType

block sidebar
  .widget
    h1 Widget
    p
      | Sed auctor neque eu tellus rhoncus ut
      | eleifend nibh porttitor. Ut in nulla enim.
    
    p
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.

block end
  p at the end
